.leave-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
}

.leave-form label {
    font-weight: 500;
    color: #334155;
}

.leave-form input,
.leave-form select,
.leave-form .datepicker {
    padding: 8px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.leave-form button {
    padding: 10px 15px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.leave-form button:hover {
    background-color: #2563eb;
}

h2 {
    padding-top: 1rem;
    margin: 0;
}

.react-datepicker__day--highlighted,
.highlight {
    background-color: #4DA8DA;
    color: black;
    border-radius: 50%;
}

.leave-container {
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

.leave-form {
    flex: 1;
    padding-top: 2.7rem;
    min-width: 20rem;
    padding-right: 4rem;
}

.leave-calendar {
    flex: 1;
    min-width: 20rem;
}

.leave_main {
    height: 100vh;
}

